* {
    box-sizing: border-box;
}

body {
    margin: 0 auto !important;
    padding: 0;
    overflow-x: hidden;
    background-color: #2b2a2a !important;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.section-shapka .container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-shapka .container a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(254, 254, 254);
    margin-right: 20px;
    margin-left: 20px;
    transition: .5s;
}
.section-shapka .container a:hover{
    color: #63f4b7;
    transition: .5s;
}
.section-me .container h2{
    color: #63f4b7;
    font-size: 60px;
    display: flex;
    justify-content: center;
}
.section-me .container .inf{
    display: flex;
    flex-direction: row;
    margin-top:20px
}
.section-me .container .one img{
    width: 80%;
}
.section-me .container .two{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-me .container .two .card{
    margin-bottom: 20px;
    background-color: #2b2a2a;
    border:1px solid #63f4b7;
}
.section-me .container .two .card h3{
    color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    
}
.section-me .container .two .card p{
    color: #ffffff;
    margin-left: 10px;
}
.section-me{
    margin-bottom: 150px;
}

.section-skills .container .card{
    margin-bottom: 20px;
    background-color: #2b2a2a;
    border:1px solid #63f4b7;
    color: #ffffff;
}
.section-skills .container .skils{
    display: flex;
    flex-direction: row;

}
.section-skills .container h2{
    color: #63f4b7;
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.section-skills .container .img img {
    width: 100%;
    margin-left: 40px;
}
.section-skills .container .card p{
    margin-left: 10px;
    font-size: 20px;
}
.section-skills .container .txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-skills{
    margin-bottom: 150px;
}

.section-port .container h2{
    color: #63f4b7;
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.section-port .container .carts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.section-port .container .carts .card{
    margin-bottom: 20px;
    background-color: #2b2a2a;
    border: none;
    border: 1px solid #63f4b7;
    color: #ffffff;
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-right: 20px;
}
.section-port .container .card .naz{
    display: flex;
    flex-direction: row;
}
.section-port .container .carts .card img{
    width: 300px;
    height: 200px;
}
.section-port .container .card .naz p{
    margin-right: 5px;
    margin-bottom: 5px;

}
.section-port .container .card .txt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.section-port .container .card .txt .naz a{
    text-decoration: none;
    color: #63f4b7;
    font-size: 20px;
}
.section-port .container .card p{
    font-size: 20px;
}
.section-port{
    margin-bottom: 150px;
}
.section-carera .container h2{
    color: #63f4b7;
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.section-carera .container .car{
    display: flex;
    flex-direction: row
}
.section-carera .container .img img{
    width: 100%;
}
.section-carera .container .car .txt .card{
    margin-bottom: 20px;
    background-color: #2b2a2a;
    border:1px solid #63f4b7;
    color: #ffffff;
    margin-left: 30px;
}
.section-carera .container .car .txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-carera .container .img{
    width: 80%;
}
.section-carera .container .car .txt .card p{
    font-size: 20px;
    margin-left: 10px;
}
footer .container .contakts .vk{
    width: 40px;
    height: 40px;
    background: url(../img/092fe9c4-5bd1-43ca-894b-a6b4ab163ba2.webp) no-repeat center center;
    margin-right: 20px;
    background-size: contain;
}
footer .container .contakts .git{
    width: 40px;
    height: 40px;
    background: url(../img/65d8b77f-786a-438a-9757-05165627f3d2.png) no-repeat center center;
    margin-right: 20px;
    background-size: contain;
}
footer .container .contakts .tg{
    width: 40px;
    height: 40px;
    background: url(../img/cefab171-53d4-42bc-8e26-56b51ae4ac67.webp) no-repeat center center;
    margin-right: 20px;
    background-size: contain;
}
footer .container .contakts{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
footer .container hr{
    border: 1px solid #63f4b7;
}
footer{
    margin-bottom: 100px;
}
@media (max-width: 1200px) {
    .container{
        width: 992px;
    }
    .section-skills .container .img img{
       margin-top: 20px;
    }
    .section-carera .container .car .img img{
        margin-top: 40px;
    }
}

@media (max-width: 420px) {
    .container{
        width: 320px;
    }
    .section-shapka .container a{
        font-size: 10px;
    }
    .section-me .container h2{
        font-size: 30px;
    }
    .section-me .container .card h3{
        font-size: 16px;
    }
    .section-me .container .card p{
        font-size: 13px;
    }
    .section-me .container .inf{
        display: flex;
        flex-direction: column;
    }
    .section-me .container .one {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .section-skills .container .skils{
        display: flex;
        flex-direction: column-reverse;
    }
    .section-skills .container .skils .img {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .section-skills .container .skils .img img{
        margin-left: 0;
    }
    .section-skills .container .card p {
        font-size: 13px;
    }
    .section-skills .container h2{
        font-size: 30px;
    }
    .section-port .container h2{
        font-size: 30px;
    }
    .section-port .container .carts .card img{
        width: 250px;
        height: 200px;
    }
    .section-port .container .carts .card .naz a{
        font-size: 16px;
    }
    .section-port .container .carts .card .naz p{
        font-size: 16px;
    }
    .section-port .container .card p{
        font-size: 16px;
        display: flex;
        justify-content: center;
    }
    .section-port .container .carts .card{
        margin-right: 0;
    }
    .section-carera .container h2{
        font-size: 30px;
    }
    .section-carera .container .car{
        display: flex;
        flex-direction: column;
    }
    .section-carera .container .car .img img{
        display: flex;
        justify-content: center;
        margin-left: 30px;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .section-carera .container .car .txt .card{
        margin-left: 0;
    }
    .section-carera .container .car .txt .card p{
        font-size: 13px;
    }
}