* {
    box-sizing: border-box;
}

body {
    margin: 0 auto !important;
    padding: 0;
    overflow-x: hidden;
    background-color: #2b2a2a !important;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.section-shapka .container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-shapka .container a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(254, 254, 254);
    margin-right: 20px;
    margin-left: 20px;
    transition: .5s;
}
.section-shapka .container a:hover{
    color: #63f4b7;
    transition: .5s;
}
.section-me .container h2{
    color: #63f4b7;
    font-size: 60px;
    display: flex;
    justify-content: center;
}
.section-me .container .inf{
    display: flex;
    flex-direction: row;
    margin-top:20px
}
.section-me .container .one img{
    width: 80%;
}
.section-me .container .two{
    width: 100%;
}
.section-me .container .two .card{
    margin-bottom: 20px;
    background-color: #2b2a2a;
    border:1px solid #63f4b7;
}
.section-me .container .two .card h3{
    color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    
}
.section-me .container .two .card p{
    color: #ffffff;
    margin-left: 10px;
}
.section-me{
    margin-bottom: 150px;
}